        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
            :root{
                --primary-color: hsl(25, 97%, 53%) ;
                --primary-color2:hsl(211, 23%, 19%);
                --primary-color3:hsl(216, 12%, 8%);
                --primary-color4:hsl(217, 12%, 63%);
                --primary-color5:black;
                --primary-color6:white;
                              
            }
        body{
            background-color: var(--primary-color3);
            color:var(--primary-color6);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        section,.section-2{
            display:flex;
            align-items: center;
            height:100vh;
            justify-content: center;
        }
        .main{
            padding: clamp(1rem, 2vw, 2rem);
            background-color: hsl(215, 28%, 14%);
            height:56%;
            max-width:18rem;
            border-radius:1rem;
        }
        .main2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .logo{
            background-color:var(--primary-color2);
            height:2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width:2.5rem;
            border-radius:50%;
            /* margin-bottom:1rem; */
            margin-block-end: 2rem;
        }
        .heading h1{
            /* font-weight: 600; */
              font-size: 1.5rem; /* or same as h2 */
              font-weight: 600;
            word-spacing: 3px;
            /* margin-bottom:0.5rem; */
            margin-block-end: 1rem;
            margin-block-start:rem;
        }
.para p{
    font-size:0.9rem;
    color:var(--primary-color4);
    /* margin-bottom:2rem; */
    margin-block-end: 2rem;
}
.selectedpara{
        color:hsl(25, 58%, 61%);
        background-color:var(--primary-color2); 
        padding:0.4rem 0.9rem;
       border-top-left-radius: 2rem;
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   border-top-right-radius: 2rem;
   margin-block-start:1.5rem;
}
.heading-2 h1{
    margin-block-start:1.5rem;
    font-weight: 500;
    /* margin-bottom:1rem; */
    margin-block-end: 1rem;
}
.para2{
       text-align: center;
       font-size: 0.9rem;
       color:hsl(213, 6%, 70%) ;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.btn{
       height:2.5rem;
       width:2.5rem;
    border-radius: 50%;
    background-color:var(--primary-color2);
    border:none;
    color:var(--primary-color4);
    cursor: pointer;
}
.lastprop{
    background-color:var(--primary-color6);
     color:var(--primary-color5);
}
.btn:not(.lastprop):hover{
    background-color:var(--primary-color);
    color:var(--primary-color5);
}
.submit-button{
    text-align: center;
margin-block-start:1.5rem;
}
.submit-btn{
    padding:0.8rem 5rem;
    margin-right: 3rem;
   text-align: center;
   border-top-left-radius: 2rem;
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   border-top-right-radius: 2rem;
   font-size:0.8rem;
   font-weight: 700;
   letter-spacing: 0.4rem;
   cursor: pointer; 
}
.submit-btn:hover{
    background-color:var(--primary-color);
    color:var(--primary-color5);
}
.hide{
    display: none;
}
@media screen and (min-width:23em)
{
   /* devices greater than 375  */
         .main{          
            height:53%;
            max-width: 22rem;/*350px*/
            }
              .submit-btn{
    padding:0.8rem 7rem;
  } 
  .btn{
           height:3rem;
    width:3rem;
  } 
}

/* Physical Property	Logical Property
margin-top	         margin-block-start
margin-bottom	     margin-block-end
margin-left	         margin-inline-start
margin-right         margin-inline-end
padding-left	     padding-inline-start
padding-top	         padding-block-start */